<!DOCTYPE html>
<html>
<head>
    <title>Emotion Detection - About</title>
    <!-- Add any CSS or JavaScript links specific to the about page -->
    <link rel="stylesheet" type="text/css" href="../static/style.css">
</head>
<body>
    <!-- Add your about page content here -->
    <h1>About Us</h1>
    <p>Some information about your project or team...</p>

    <!-- Navigation links/buttons -->
    <div class="navigation-buttons">
        <a href="/" class="home-button">Home</a>
        <a href="/capture" class="capture-button">Capture</a>
        <a href="/gallery" class="gallery-button">Gallery</a>
        <a href="/about" class="about-button" onclick="toggleDescription(event)">About Us</a>
    </div>
</body>
</html>