<!DOCTYPE html>
<html>
<head>
    <title>Emotion Detection - Capture</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Capture Emotion</h1>
    <div class="navigation-buttons">
        <a href="{{ url_for('home') }}" class="home-button">Home</a>
        <a href="{{ url_for('show_capture') }}" class="capture-button" onclick="toggleDescription(event)">Capture</a>
        <a href="{{ url_for('show_gallery') }}" class="gallery-button">Gallery</a>
        <a href="{{ url_for('about') }}" class="about-button">About Us</a>
    </div>
    <div class="bounding-box">
        <div class="video-container">
            <video id="video" autoplay width="100%" height="100%"></video>
        </div>
    </div>
    <div class="capture-navigation-buttons">
        <div class="button-container">
            <button class="circle-button start-viewfinder-button" onclick="startViewfinder()">S</button>
        </div>
        <div class="button-container">
            <button class="circle-button capture-frame-button" onclick="captureFrame()">C</button>
        </div>
    </div>
    <div class="predicted-emotion-container">
        <h2>Predicted Emotion:</h2>
        <p id="predicted-emotion"></p>
    </div>
    <script src="{{ url_for('static', filename='capture.js') }}"></script>
    <script src="{{ url_for('static', filename='gallery.js') }}"></script>
</body>
</html>
