<!DOCTYPE html>
<html>
<head>
    <title>Emotion Detection - Gallery</title>
    <!-- Add any CSS or JavaScript links specific to the gallery page -->
    <link rel="stylesheet" type="text/css" href="../static/style.css">
</head>
<body>
    <!-- Add your gallery page content here -->
    <h1>Image Gallery</h1>
    <div id="image-gallery">
        <!-- Display the gallery of captured images or other related content here -->
    </div>

    <!-- Navigation links/buttons -->
    <div class="navigation-buttons">
        <a href="/" class="home-button">Home</a>
        <a href="/capture" class="capture-button">Capture</a>
        <a href="/gallery" class="gallery-button" onclick="toggleDescription(event)">Gallery</a>
        <a href="/about" class="about-button">About Us</a>
    </div>

    <!-- Add JavaScript code here to handle the gallery functionality -->
    <script src="../static/script.js"></script>
    <script src="../static/gallery.js"></script>
</body>
</html>
