<!DOCTYPE html>
<html>
<head>
    <title>Emotion Detection - Gallery</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Image Gallery</h1>
    <div class="navigation-buttons">
        <a href="{{ url_for('home') }}" class="home-button">Home</a>
        <a href="{{ url_for('show_capture') }}" class="capture-button">Capture</a>
        <a href="{{ url_for('show_gallery') }}" class="gallery-button" onclick="toggleDescription(event)">Gallery</a>
        <a href="{{ url_for('about') }}" class="about-button">About Us</a>
    </div>
    <div class="bounding-box1">
        <div class="grid-item">
            <div id="image-gallery"></div>
        </div>
        <div class="grid-item"></div>
        <div class="grid-item"></div>
        <div class="grid-item"></div>
        <div class="grid-item"></div>
        <div class="grid-item"></div>
    </div>

    <script src="{{ url_for('static', filename='capture.js') }}"></script>
    <script src="{{ url_for('static', filename='gallery.js') }}"></script>
</body>
</html>
