<!DOCTYPE html>
<html>
<head>
    <title>Emotion Detection - Home</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Welcome to Emotion Detection</h1>
        <p id="app-description">Some description about the app...</p>

        <div class="navigation-buttons">
            <a href="{{ url_for('home') }}" class="home-button" id="home-button">Home</a>
            <a href="{{ url_for('show_capture') }}" class="capture-button">Capture</a>
            <a href="{{ url_for('show_gallery') }}" class="gallery-button">Gallery</a>
            <a href="{{ url_for('about') }}" class="about-button">About</a>
        </div>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
